<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="1"
      android:versionName="1.0" package="yoonsung.odk.spreadsheet">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
    
    	<uses-library android:name="com.google.android.maps" />	
    
        <activity android:label="@string/app_name" android:name=".Activity.SpreadSheet">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    	
    	
    	<receiver android:name=".SMS.SmsReceiver"> 
            <intent-filter> 
                <action android:name=
                    "android.provider.Telephony.SMS_RECEIVED" /> 
            </intent-filter> 
        </receiver>
	<activity android:name=".Activity.ColumnManager"></activity>
<activity android:name=".Activity.PropertyManager"></activity>
<activity android:name=".Activity.graphs.LineActivity"></activity>
<activity android:name=".Activity.graphs.BoxStemActivity"></activity>
<activity android:name=".Activity.graphs.PieActivity"></activity>

<activity android:name=".Activity.graphs.MapViewActivity"></activity>
<activity android:name=".Activity.graphs.GraphSetting"></activity>
<activity android:name=".Activity.graphs.CalActivity"></activity>
<activity android:name=".Activity.defaultopts.DefaultsActivity"></activity>
<activity android:name=".Activity.defaultopts.QueryDefaults"></activity>
<activity android:name=".Activity.defaultopts.AdditionDefaults"></activity>
<activity android:name=".Activity.TableManager"></activity>
<activity android:name=".Activity.importexport.ImportExportActivity"></activity>
<activity android:name=".Activity.importexport.ImportCSVActivity"></activity>
<activity android:name=".Activity.importexport.ExportCSVActivity"></activity>
</application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
</manifest> 