<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.opendatakit.tables"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="16"/>

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/InvertTables" >
        <activity
            android:name=".Activity.util.Launcher"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".SMS.SmsReceiver" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name=".Activity.ColumnManager" >
        </activity>
        <activity android:name=".Activity.PropertyManager" >
        </activity>
        <activity android:name=".Activity.TableManager"/>
        <activity android:name=".Activity.importexport.ImportExportActivity" >
        </activity>
        <activity android:name=".Activity.importexport.ImportCSVActivity" >
        </activity>
        <activity android:name=".Activity.importexport.ExportCSVActivity" >
        </activity>
        <activity android:name=".Activity.SecurityManager" >
        </activity>
        <activity android:name=".Activity.SecurityTableActivity" >
        </activity>
        <activity android:name=".Activity.ShortcutsManager" >
        </activity>
        <activity android:name=".Activity.ShortcutTableActivity" >
        </activity>
        <activity android:name=".Activity.AccountInfoActivity" />
        <activity android:name=".Activity.Aggregate" />
        <activity android:name=".Activity.AggregateChooseTablesActivity" />
        <activity android:name=".Activity.AggregateDownloadTableActivity" />
        <activity android:name=".Activity.settings.ListDisplaySettings" >
        </activity>
        <activity android:name=".Activity.settings.MainDisplaySettings" >
        </activity>
        <activity android:name=".Activity.TablePropertiesManager" >
        </activity>
        <activity android:name=".activities.SpreadsheetDisplayActivity" >
        </activity>
        <activity android:name=".activities.ListDisplayActivity" >
        </activity>
        <activity android:name=".activities.LineGraphDisplayActivity" >
        </activity>
        <activity android:name=".activities.BoxStemGraphDisplayActivity" >
        </activity>
        <activity android:name=".activities.BarGraphDisplayActivity" >
        </activity>
        <activity android:name=".activities.MapDisplayActivity" >
        </activity>
        <activity android:name=".Activity.DisplayPrefsActivity" >
        </activity>
        <activity android:name=".activities.DetailDisplayActivity" >
        </activity>
        <activity android:name=".activities.ConflictResolutionActivity" >
        </activity>

        <uses-library android:name="com.google.android.maps" />
        <!--
        <service
            android:name=".sync.SyncService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
        <! service for syncing files
        -->
        <service
            android:name=".sync.files.FileSyncService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/filesyncadapter" />
        </service>

        <!--  dummy ContentProvider for syncing tables -->
        <provider
            android:name=".sync.TablesContentProvider"
            android:authorities="org.opendatakit.tables.android.provider.content" />

        <!-- dummy ContentProvider for syncing files -->
        <provider
            android:name="sync.files.FilesContentProvider"
            android:authorities="org.opendatakit.tables.android.provider.files" />

        <activity android:name=".Activity.ListViewManager"></activity>
        <activity android:name=".Activity.EditSavedListViewEntryActivity"></activity>
    </application>

</manifest>